#BackupScreen {
    width: 800px;
}

#BackupScreen p {
    line-height: 22px;
}

#backupScreen-confirmRestore {
    text-align: center;
}

#backupScreen-confirmRestore button {
    min-width: 80px;
    margin-top: 10px;
}
