.GUIPassword {
    width: 210px;
}

.GUIPassword-matchText,
.GUIPassword-strengthText {
    font-size: 11px;
    color: #666;
    text-align: right;
}

.GUIPassword-strengthBarWrapper {
    background: url(strength_bg.png) no-repeat;
    height: 7px;
    margin-bottom: 5px;
}

.GUIPassword-strengthBar {
    background: url(strength.png) no-repeat;
    height: 7px;
    width: 0;
}

.GUIPassword-strengthConfirmText .GUITextBox input {
    color: #666;
}

.GUIPassword-confirmWrapper .GUIPassword-strengthConfirm {
    display: none;
}

.GUIPassword-confirmWrapper.typing .GUIPassword-strengthConfirm {
    display: inline;
}

.GUIPassword-confirmWrapper.typing .GUIPassword-strengthConfirmText {
    display: none;
}

.GUIPassword-strengthBar.veryWeak {
    width: 35px;
}

.GUIPassword-strengthBar.weak {
    width: 70px;
}

.GUIPassword-strengthBar.better {
    width: 105px;
}

.GUIPassword-strengthBar.medium {
    width: 140px;
}

.GUIPassword-strengthBar.strong {
    width: 175px;
}

.GUIPassword-strengthBar.veryStrong {
    width: 210px;
}
