.GUIToolbar {
    z-index: 5000;
    height: 38px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1240px;
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(70%, #000));
    background-image: -moz-linear-gradient(top, #555 0%, #000 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#555555, endColorstr=#000000);
    -webkit-box-shadow: 0 2px 7px #333;
    -moz-box-shadow: 0 2px 7px #333;
}

.GUIToolbar-logo {
    width: 185px;
    height: 38px;
    margin-left: 15px;
    float: left;
}

.GUIToolbar-content {
    margin-left: 20px;
    height: 38px;
    line-height: 38px;
}

.GUIToolbar-button {
    cursor: pointer;
    height: 25px;
    width: 32px;
    float: left;
}

.GUIToolbar-button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #3D3D3D), color-stop(50%, #111111));
    background-image: -moz-linear-gradient(top , #3D3D3D 15%, #111111 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3D3D3D, endColorstr=#111111);
}

.GUIToolbar-button.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #2B65B6), color-stop(50%, #032347));
    background-image: -moz-linear-gradient(top , #2B65B6 15%, #032347 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2B65B6, endColorstr=#032347);
}

.GUIToolbar-button div {
    width: 100%;
    height: 100%;
}
