#AssetPicker-dialog .GUIDialog-bottom button {
    float: right;
    margin-bottom: 5px;
    margin-right: 10px;
}

#AssetPicker-assetBrowser .GUIColumnBrowser-item-content img {
    vertical-align: top;
}
