button.GUIButton {
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 0 1.1em;
    height: 2em;
    font-family: Verdana;
    font-size: 11px;
    border: 1px solid;
    *border: none;
    border-radius: 14px;
    -moz-border-radius: 25%;
    *padding: 0 0em; /* IE 7 Target */
    outline: none;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
button.GUIButton .GUIButtonLabel {
    display: block;
    line-height: 1.8em;
    *margin-top: -2px; /* IE 7 Target */
}
@-moz-document url-prefix() { /* Moz Target */
    button.GUIButton .GUIButtonLabel { margin-top: -4px;}
}
button.GUIButton .GUIButtonIcon {
    position: absolute;
    right: 9px;
    *right: 2px;
    top: 5px;
    top: 3px/9;
    width: 20px;
    height: 15px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
button.buttonDefault {
    border-color: #606060;
    border-top-color: #777;
    color: #fff;
    text-shadow: 0px -1px 0px #555;
    background-color: #848484;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9a9a9), to(#626161));
    background-image: -moz-linear-gradient(#a9a9a9, #626161);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a9a9a9, endColorstr=#626161);
    position: relative;
}
button.buttonDefault:hover {
    text-shadow: 0px -1px 1px #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#555));
    background-image: -moz-linear-gradient(#999, #555);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#999999, endColorstr=#555555);
}
button.buttonLight {
    border-color: #a3a3a3;
    border-top-color: #CCC;
    color: #444;
    text-shadow: 0px 1px 0px #FFF;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    background-color: #dbdbdb;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#c0c0c0));
    background-image: -moz-linear-gradient(0% 0% -90deg, #f8f8f8, #c0c0c0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f8f8f8, endColorstr=#c0c0c0);
}
button.buttonLight:hover {
    color: #222;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#b0b0b0));
    background-image: -moz-linear-gradient(0% 0% -90deg, #F4F4F4, #b0b0b0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F4F4F4, endColorstr=#b0b0b0);
}
button.buttonDark {
    border-color: #1a1a1a #1a1a1a #333;
    color: #fff;
    text-shadow: 0px -1px 1px #000;
    background-color: #282828;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565656), to(#111));
    background-image: -moz-linear-gradient(0% 0% -90deg, #565656, #111);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#565656, endColorstr=#111111);
}
button.buttonDark:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
    background-image: -moz-linear-gradient(0% 0% -90deg, #333, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000);
}

/* New (Wizards) */

button.buttonNew {
    border-radius: 12px;
    -moz-border-radius: 17%;
    height: 27px;
    margin: 5px 9px 0 0;
    border-color: #222 #222 #3A3A3A;
    color: #fff;
    text-shadow: 0px -1px 1px #000;
    background-color: #282828;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #2C2C2C), color-stop(50%, #000));
    background-image: -moz-linear-gradient(top, #2C2C2C 15%, #000 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2C2C2C, endColorstr=#000);
    -webkit-box-shadow: rgba(0,0,0,1) 0px 0px 3px inset;
    -moz-box-shadow: rgba(0,0,0,1) 0px 0px 3px inset;
}
button.buttonNew:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #3d3d3d), color-stop(50%, #111));
    background-image: -moz-linear-gradient(top, #3d3d3d 15%, #111 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3d3d3d, endColorstr=#111);
}
button.buttonNew span {
    padding-right: 20px;
    background: transparent url(newButton-icon.png) 100% 50% no-repeat;
}
