#currProductTable td.col-currName,
#currProductTable td.col-productName {
    padding: 10px 0;
}

#squizSuite-currentProduct-box .GUITable-colWrapper,
#squizSuite-connectedProduct-box .GUITable-colWrapper {
    padding: 0px;
}

#squizSuite-currentProduct-box td.col-currName .GUITable-colWrapper,
#squizSuite-connectedProduct-box td.col-currName .GUITable-colWrapper,
#squizSuite-connectedProduct-box td.col-productName .GUITable-colWrapper {
    padding-left: 15px;
}

#squizSuite-connectedProduct-box div.SquizSuiteScreen-productDetailWrap {
    float: left;
    position: relative;
    padding-left: 15px;
}

#squizSuite-currentProduct-box tr.rowOdd {
    height: 76px;
}

#squizSuite-connectedProduct-box {
    margin-top: 25px;
}

#squizSuite-connectedProduct-box tr {
    height: 39px;
}

#squizSuite-connectedProduct-box tr.deleted {
    background: url("/__web/Systems/GUI/Web/delete_overlay.png") repeat scroll 0 0 transparent;
}

#squizSuite-connectedProduct-box thead tr {
    height: 24px;
}

#squizSuite-connectedProduct-box tr.deleted td.col-delIcon {
    background-color: transparent;
}

div.SquizSuiteScreen-deleteColBtn {
    background: transparent url(/__web/Systems/GUI/Web/delete.png);
    cursor: pointer;
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

div.SquizSuiteScreen-deleteColBtn.recover {
    background-position: 0 16px;
}

td.col-currTypeIcon, td.col-productTypeIcon {
    background-color: #E7F1FF;
}

/* Expanded section */
#squizSuite-connectedProduct-box tr.rowEven {
    height: 87px;
}

#squizSuite-connectedProduct-box tr.hidden {
    display: none;
}

#squizSuite-connectedProduct-box tr.rowEven td.col-productTypeIcon {
    background-color: #F8F8F8;
}

#squizSuite-connectedProduct-box tr.deleted td.col-productTypeIcon {
    background-color: transparent;
}

td.col-currStatusIcon, td.col-productStatusIcon {
    background-color: #F5F5F5;
}

#squizSuite-connectedProduct-box tr.deleted td.col-productStatusIcon {
    background-color: transparent;
}

td.col-currSummary, td.col-productSummary {
    padding-left: 15px;
}

#squizSuite-currProductName {
    margin: 6px 0;
}

span.SquizSuiteScreen-currentPrductNameDesc {
    color: #9C9B9B;
    font-style: italic;
}

div.SquizSuiteScreen-summaryWrap {
    margin-top: 6px;
}

span.SquizSuiteScreen-summaryLabel {
    color: #9C9B9B;
}

span.SquizSuiteScreen-summaryValue {
    font-weight: bold;
    margin: 0 10px 0 5px;
}

/* Product Type Icon */

div.SquizSuiteScreen-productIconWrap {
    background: url(squizsuite-icons.png);
    height: 29px;
    margin-left: 30px;
    width: 30px;
}

div.SquizSuiteScreen-productIconWrap.SquizCMS {
    background-position: 0 0px;
}

div.SquizSuiteScreen-productIconWrap.GoogleAccount {
    background-position: 0 60px;
}

div.SquizSuiteScreen-productIconWrap.SquizSuite {
    background-position: 0 90px;
}

div.SquizSuiteScreen-productIconWrap.SquizMatrix {
    background-position: 0 120px;
}

div.SquizSuiteScreen-productIconWrap.SquizSearch {
    background-position: 0 150px;
}

div.SquizSuiteScreen-productIconWrap.SquizAnalytics {
    background-position: 0 180px;
}

div.SquizSuiteScreen-productIconWrap.unknown {
    background-position: 0 30px;
    margin-left: 15px;
}

/* Product Status Icon */

div.SquizSuiteScreen-statusWrap {
    width: 20px;
    height: 20px;
    margin-left: 28px;
}

div.SquizSuiteScreen-statusWrap.live {
    background: url(status-icons.png) repeat scroll 0 0;
}

div.SquizSuiteScreen-statusWrap.pending {
    background: url(status-icons.png) repeat scroll 0 20px;
}

div.SquizSuiteScreen-statusWrap.error {
    background: url(status-icons.png) repeat scroll 0 40px;
}

div.SquizSuiteScreen-statusWrap.loading {
    background: url(status-loading.gif) no-repeat scroll 50% 50%;
}

/* Row Expander */

span.SquizSuiteScreen-productExpander {
    background: url(expander.png) no-repeat scroll 0 0px transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 14px;
    margin-right: 10px;
    width: 16px;
}

span.SquizSuiteScreen-productExpander.expanded {
    background-position: 0 -14px;
}

/* New Product */
#SquizSuiteScreen-newProductTable {
    background-color: #FFF;
}

#SquizSuiteScreen-newProductTable tr.rowEven td.col-currTypeIcon {
    background-color: #F8F8F8;
}

#SquizSuiteScreen-newProductTable td.col-currStatusIcon {
    background-color: #F5F5F5;
}

span.SquizSuiteScreen-newProductHeadDesc {
    font-style: italic;
    color: #9C9B9B;
}

#SquizSuiteScreen-newProductTable td.col-currTypeIcon {
    padding: 4px 15px;
}

#SquizSuiteScreen-newProductTable td.lastRow {
    padding: 0;
}

/* Pending Approval */
span.SquizSuiteScreen-pendingApprovalMsg {
    color: #5F5F5F;
    display: block;
    float: left;
    font-style: italic;
    margin-right: 10px;
}
