.PermissionScreen-role .GUIBox-headerContent {
    float: right;
}

.PermissionScreen-listItem {
    line-height: 30px;
    padding-left: 5px;
}

.PermissionScreen-listItem img {
    vertical-align: middle;
}

.PermissionScreen-rolesLists {
    display: none;
}

.PermissionScreen-rolesLists.active {
    display: block;
}
