.GUIScreenSwitcher {
    background-image: url(menu_mid.png);
    background-repeat: repeat-x;
}

.GUIScreenSwitcher-left {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 134px;
    background-image: url(menu_left.png);
    background-repeat: none;
}

.GUIScreenSwitcher-right {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0;
    width: 21px;
    height: 134px;
    background-image: url(menu_right.png);
    background-repeat: none;
}

.GUIScreenSwitcher-button {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 0;
    left: 0;
    width: 115px;
    height: 137px;
}

.GUIScreenSwitcher-divider {
    position: absolute;
    right: 0;
    width: 1px;
    top: 23px;
    height: 53px;
    background-color: #D7D7D7;
}

.GUIScreenSwitcher-icon {
    margin-top: 8px;
    height: 75px;
    background-position: 50% 0px;
}

.GUIScreenSwitcher-button.inactive .GUIScreenSwitcher-icon {
    background-position: 50% -75px;
}

.GUIScreenSwitcher-button.disabled .GUIScreenSwitcher-icon {
    background-position: 50% -75px;
    opacity: 0.3;
}

.GUIScreenSwitcher-text {
    font-family: arial;
    font-size: 13px;
    margin-top: 8px;
    text-align: center;
}

.GUIScreenSwitcher-button.selected .GUIScreenSwitcher-text {
    font-weight: bold;
}

.GUIScreenSwitcher-button.disabled .GUIScreenSwitcher-text {
    opacity: 0.3;
}

.GUIScreenSwitcher-arrow {
    margin-top: 9px;
    height: 27px;
    background-image: url(menu_arrow.png);
    background-repeat: no-repeat;
    background-position: 50% top;
    visibility: hidden;
}

.GUIScreenSwitcher-button.selected .GUIScreenSwitcher-arrow {
    visibility: visible;
}

.GUIScreenSwitcher-no-entry {
    position: absolute;
    top: 58px;
    height: 27px;
    width: 28px;
    left: 43px;
    background-image: url(screen_no_access.png);
    display: none;
}

.GUIScreenSwitcher-button.disabled .GUIScreenSwitcher-no-entry {
    display: block;
}
