.GUI-focusTag {
    border: 1px solid transparent;
    padding: 1px 3px;
    background-color: #999;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius: 5px;
}

.GUI-screen-left {
    width: 250px;
    float: left;
}

.GUI-screen-right {
    margin-left: 270px;
    margin-top: 10px;
}

.GUI-alignLeft {
    float: left;
}

.GUI-alignRight {
    float: right;
}

/* Delete overlay */
.GUI-delete {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.GUI-delete .GUI-deleteIcon {
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    background: url(delete.png) no-repeat 0 0;
    margin-top: 5px;
    margin-right: 10px;
}

.GUI-delete.deleted {
    width: 100%;
    background: url(delete_overlay.png);
    height: 100%;
}

.GUI-delete.deleted .GUI-deleteIcon {
    background-position: 0 -16px;
}

.GUI-textOverflow {
    position: relative;
    height: 1.4em;
}

.GUI-textOverflow-text {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.GUI-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.85;
}
