.GUI-focusTag {
    border: 1px solid transparent;
    padding: 1px 3px;
    background-color: #999;
    color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius: 5px;

}
