body.LoginScreen {
    font-family: arial, helvetica, sans-serif;
    margin: 40px 0 0 0;
    padding: 0;
    background: #8FB7DB url(diag_lines_bg.gif) top left;
}

#LoginScreen-content {
    width: 450px;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -161px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.LoginScreen-titlebar {
    background-color: #333;
    padding: 5px 19px 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(70%, #000));
    background-image: -moz-linear-gradient(top, #555 0%, #000 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#555555, endColorstr=#000000);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
}

.LoginScreen-main {
    background: url(transparent_white_20pc.png);
    padding: 20px 47px;
    margin: 0 auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    border-top: none;
}

.LoginScreen-main p {
    margin: 0.5em 0;
    padding: 0 0 5px 6px;
    font-weight: bold;
    width: 326px;
    overflow: hidden;
}

.LoginScreen-main .form-top {
    background: url(login_form_top.png);
    height: 13px;
    width: 356px;
}

.LoginScreen-main .form-bottom {
    background: url(login_form_bottom.png);
    height: 13px;
    width: 356px;
}

.LoginScreen-main form {
    background: url(login_form_bg.png);
    width: 356px;
    margin: 0;
    padding: 10px 0;
}

.LoginScreen-main form label {
    float: left;
    width: 100px;
    padding-left: 10px;
    line-height: 20px;
}

.LoginScreen-main form input, .LoginScreen-main form label {
    margin: 10px 0 0 10px;
}

.LoginScreen-main form input {
    width: 198px;
}

.LoginScreen-main .error {
    color: #F00;
    font-weight: bold;
    padding-left: 20px;
    font-size: 0.9em;
}

.LoginScreen-main .GUIButton {
    float: right;
    margin: 15px 3px 0 0;
    width: 85px;
}
