.UserManagerScreen-userManager-item {
    height: 100%;
    background: url(../userType-icons.png) no-repeat 100% 0;
    font-size: 15px;
}

.UserManagerScreen-userManager-item-icon {
    vertical-align: top;
}

.UserManagerScreen-userManager-item-title {
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
    color: #444;
}

.UserManagerScreen-userManager-item-subTitle {
    color: #666;
    padding-left: 15px;
}

.GUIColumnBrowser-item-button.selected .UserManagerScreen-userManager-item-title,
.GUIColumnBrowser-item-button.selected .UserManagerScreen-userManager-item-subTitle {
    color: #FFF;
}

.GUIColumnBrowser-item-button.selected .UserManagerScreen-userManager-item {
    background-position: 100% -76px;
}

#UserManagerScreen #userManager-assetBrowser {
    height: 500px;
}

#UserManagerScreen #userManager-box {
    width: 70%;
    float: left;
}

#UserManagerScreen {
    position: relative;
}

#UserManagerScreen #userManager-editPane {
    width: 320px;
    background-color: #EEE;
    border: 1px solid #CCC;
    height: 544px;
    overflow: auto;
    -webkit-box-shadow: -10px 1px 17px -5px #999;
    -moz-box-shadow: -10px 1px 17px -5px #999;
    -moz-border-radius: 0 9px 9px 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    position: absolute;
    left: 70%;
    z-index: 1;
    margin: 1em 0 1.5em;
}

/* Right Panel styles */
.UserManagerScreen-fieldGap {
    height: 10px;
}

.UserManagerScreen-addMoreText {
    color: #777;
    float: right;
    overflow: hidden;
    cursor: pointer;
}

.UserManagerScreen-childButtons {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
    background-color: #F7F7F7;
    text-align: center;
}

.UserManagerScreen-childButtons {
    display: none;
}

#UserManagerScreen-childGroupDetailsWrapper.active .UserManagerScreen-addMoreText-toggle,
#UserManagerScreen-childUserDetailsWrapper.active .UserManagerScreen-addMoreText-toggle {
    background-position: 0 -14px;
}

#UserManagerScreen-childGroupDetailsWrapper.active .UserManagerScreen-childButtons,
#UserManagerScreen-childUserDetailsWrapper.active .UserManagerScreen-childButtons {
    display: block;
}

.UserManagerScreen-childGroupDetails span,
.UserManagerScreen-childUserDetails span {
    color: #777;
}

span.UserManagerScreen-count {
    font-weight: bold;
    color: #000;
}

.UserManagerScreen-addMoreText-toggle {
    background: url(/__web/Systems/GUI/Web/expander.png) no-repeat 0 0;
    float: right;
    height: 14px;
    margin: 12px 8px 8px;
    width: 14px;
}

.UserManagerScreen-childUserDetails,
.UserManagerScreen-childGroupDetails {
    line-height: 40px;
    border-bottom: 1px solid #CCC;
    background-color: #FFF;
    padding: 0 5px;
}

.UserManagerScreen-count-user {
    margin-left: 20px;
}

.UserManagerScreen-count-group {
    margin-left: 13px;
}

#UserManagerScreen-createSection {
    border-top: 1px solid #DDD;
}

#UserManagerScreen-createSection {
    display: none;
}

#userManager-editPane hr {
    border: none;
    border-top: 1px solid #DDD;
    margin: 20px 0;
}

#userManager-editPane p {
    color: #666;
    font-size: 11px;
    margin: 2px 0;
}

#userManager-editPane h2 {
    font-size: 15px;
}

.UserManagerScreen-childUserDetails .UserManagerScreen-assetIcon,
.UserManagerScreen-childGroupDetails .UserManagerScreen-assetIcon {
    background: url(../../AssetTypes/User/Web/icon_user_s.png) no-repeat 50% 50%;
    height: 40px;
    width: 36px;
    float: left;
}

.UserManagerScreen-childGroupDetails .UserManagerScreen-assetIcon {
    background-image: url(../../AssetTypes/UserGroup/Web/icon_userGroup_s.png);
}

#userManager-deleteButton {
    background: url(../delete_button.png) no-repeat 0 0;
    position: absolute;
    height: 45px;
    width: 45px;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}
#userManager-deleteButton:hover {
    background-position: 0 -45px;
}

#UserManagerScreen-deleteOverlay {
    height: 100%;
    position: absolute;
    width: 100%;
    background: url(/__web/Systems/GUI/Web/delete_overlay.png);
    z-index: 1;
    left: 0;
    top: 0;
    border-radius: 0 9px 9px 0;
    -moz-border-radius: 0 9px 9px 0;
}

#userManager-deleteButton.deleted {
    background-position: 0 -90px;
}

.UserManagerScreen-editUser-top,
.UserManagerScreen-editFolder-top,
.UserManagerScreen-editUserGroup-top {
    height: 65px;
    line-height: 65px;
    margin: 15px;
    margin-top: 10px;
    padding-left: 80px;
    background: url(../../AssetTypes/UserGroup/Web/icon_userGroup_m.png) no-repeat 0 0;
}

.UserManagerScreen-editUser-top {
    background-image: url(../../AssetTypes/User/Web/icon_user_m.png);
}

.UserManagerScreen-editUser-top h2,
.UserManagerScreen-editFolder-top h2,
.UserManagerScreen-editUserGroup-top h2 {
    font-size: 16px;
    font-weight: normal;
}

.UserManagerScreen-childUserDetails .GUIButton,
.UserManagerScreen-childGroupDetails .GUIButton {
    float: right;
    margin-left: 5px;
    margin-top: 5px;
}

.UserManagerScreen-editGroupName {
    margin-bottom: 15px;
}

.UserManagerScreen-parentGroups h5,
.UserManagerScreen-editGroupName h5 {
    margin-bottom: 5px;
}

.UserManagerScreen-parentGroups {
    margin: 15px 0;
}

.UserManagerScreen-addToOtherGroup {
    text-align: center;
}

/* Create User Panel */
#UserManagerScreen-createUser-wrapper {
    margin: 15px;
}

.UserManagerScreen-createUser-main {
    border-top: 1px solid #DDD;
    margin: 15px;
    line-height: 22px;
    padding: 15px 0;
    margin-bottom: 0;
}

#userManager-editPane label {
    font-weight: bold;
    font-size: 11px;
}

.UserManagerScreen-col-left {
    float: left;
    width: 50%;
}

.UserManagerScreen-createUser-top {
    margin-bottom: 15px;
    line-height: 32px;
    padding-top: 10px;
}

.UserManagerScreen-createUser-top .UserManagerScreen-assetIcon {
    background: url(../../AssetTypes/User/Web/icon_user_s.png) no-repeat 50% 50%;
    height: 32px;
    width: 36px;
    float: left;
}

#UserManagerScreen-createGroup .UserManagerScreen-createUser-top .UserManagerScreen-assetIcon {
    background-image: url(../../AssetTypes/UserGroup/Web/icon_userGroup_s.png);
}

#UserManagerScreen-createGroup-button {
    margin-top: 10px;
}

#UserManagerScreen-cancelCreateUserGroup,
#UserManagerScreen-cancelCreate {
    float: right;
    margin-top: 6px;
}

/* Edit Exisiting User Panel */
#UserManagerScreen-editUser {
    margin: 0 15px;
    line-height: 22px;
    padding: 0;
}

#UserManagerScreen-editUser-existingUser-username {
    float: left;
    margin-right: 10px;
}

#UserManagerScreen-editExistingUser-resetPasswordBox {
    clear: left;
}

.UserManagerScreen-editUser-status {
    margin: 10px 0;
}

.UserManagerScreen-status-header {
    background-color: #49b662;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#49b662), to(#00641e));
    background-image: -moz-linear-gradient(0% 0% -90deg, #49b662, #00641e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#49b662, endColorstr=#00641e);
    color: #FFF;
    border: 1px solid #118D3A;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    line-height: 31px;
}

.UserManagerScreen-status-header-icon {
    margin: 0 10px;
    height: 100%;
    width: 22px;
    background: url(/__web/Systems/GUI/Web/tick.png) no-repeat 0 50%;
    float: left;
}

.UserManagerScreen-status-header.Inactive {
    background-color: #BC4646;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BC4646), to(#5B1313));
    background-image: -moz-linear-gradient(0% 0% -90deg, #BC4646, #5B1313);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#BC4646, endColorstr=#5B1313);
    border: 1px solid #9A4F4E;
}

.UserManagerScreen-status-header.Inactive .UserManagerScreen-status-header-icon {
    background-image: url(/__web/Systems/GUI/Web/cross.png);
}

.UserManagerScreen-status-content {
    border: 1px solid #CCC;
    border-top: none;
    line-height: 34px;
    height: 35px;
    padding-left: 50px;
    padding-top: 3px;
}

.UserManagerScreen-status-content span {
    float: left;
    margin-right: 20px;
}

.UserManagerScreen-listItem {
    line-height: 30px;
    height: 30px;
}

.UserManagerScreen-listItem img {
    vertical-align: top;
}

#UserManagerScreen-lastLinkIntervention-user,
#UserManagerScreen-lastLinkIntervention-userGroup {
    width: 320px;
    text-align: center;
}

#UserManagerScreen-lastLinkIntervention-user button,
#UserManagerScreen-lastLinkIntervention-userGroup button {
    margin-top: 10px;
    min-width: 45%;
}

#UserManagerScreen-lastLinkIntervention-user p,
#UserManagerScreen-lastLinkIntervention-userGroup p {
    margin-top: 10px;
    text-align: left;
}
