#CronScreen {
    margin: 0 50px;
}

#CronScreen .th-job {
    width: 44%;
}

#CronScreen .col-job em {
    font-size: 11px;
}

#CronScreen #cronJobsList .GUITable-firstCol {
    border-left: none;
}

#CronScreen #cronJobsList .GUITable-lastCol {
    border-right: none;
}
