#CronScreen {
    margin:0 auto;
    width:1160px;
}

#CronScreen .th-enabled {
    width: 100px;
}

#CronScreen .col-job em {
    font-size: 11px;
}

#CronScreen #cronJobsList .GUITable-firstCol {
    border-left: none;
}

#CronScreen #cronJobsList .GUITable-lastCol {
    border-right: none;
}
