.GUITextBox.container  {
    font-family: verdana;
    height: 24px;
    line-height: 24px;
}

.GUITextBox.container.inline {
    display: inline;
}

.GUITextBox.input {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #C2C3C5;
    opacity: 1;
    padding: 3px 2px;
}

.GUITextBox.selected {
    border: 1px solid #6FA8D7;
}

input.GUITextBox.usingHint {
    color: #AAA;
}
