.GUITextBox.container  {
    font-family: verdana;
    height: 24px;
    line-height: 24px;
}

.GUITextBox.container.inline {
    display: inline;
}

.GUITextBox.input {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #C2C3C5;
    opacity: 1;
    padding: 3px 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.GUITextBox.selected {
    border: 1px solid #3A88F4;
    -webkit-box-shadow: 0 0 4px #2B65B6;
    -moz-box-shadow: 0 0 4px #2B65B6;
}

input.GUITextBox.usingHint {
    color: #AAA;
}
