* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Sans-serif;
    font-size: 12px;
    color: #000;
}

#Help-dialog .GUIDialog-middle {
    border: none;
}

/* Navigation styles */
a.Help-control-button {
    float: left;
    cursor: pointer;
    width: 23px;
    height: 20px;
    background: url(help_toolbar.png) no-repeat 0 0;
    border: none;
    outline: none;
}

a.Help-control-button.back {
    background-position: 0 0;
}

a.Help-control-button.back:active {
    background-position: 0 -20px;
}

a.Help-control-button.forward {
    background-position: -23px 0;
    width: 22px;
}

a.Help-control-button.forward:active {
    background-position: -23px -20px;
}

a.Help-control-button.home {
    background-position: -45px 0;
    margin-left: 5px;
    width: 25px;
}

a.Help-control-button.home:active {
    background-position: -45px -20px;
}

a.Help-control-button.menu {
    background-position: -70px 0;
    width: 13px;
}

a.Help-control-button.menu.active,
a.Help-control-button.menu:active {
    background-position: -70px -20px;
}

a.Help-control-button.picker {
    background-position: -83px 0;
    width: 28px;
    margin-left: 5px;
}

a.Help-control-button.picker:active {
    background-position: -83px -20px;
}

a.Help-control-button.glossary {
    background-position: -111px 0;
    width: 28px;
    margin-left: 5px;
}

a.Help-control-button.glossary:active {
    background-position: -111px -20px;
}

a.Help-control-button.general {
    background-position: -139px 0;
    width: 28px;
    margin-left: 5px;
}

a.Help-control-button.general:active {
    background-position: -139px -20px;
}

#Help-search {
    float: right;
}

/* iFrame content styles */

.Help-iframe {
    font-family: arial;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 15px 10px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0.7em 0 0.7em 0;
}
h1 {font-size: 16px; font-weight: normal; margin-top: 0;}
h2 {
    font-size: 14px;
    margin: 1.5em 0 1em 0;
    border-bottom: 1px dotted #ccc;
}
h3 {font-size: 12px; margin-top: 1.4em;}
h4 {font-size: 1em;}
h5 {font-size: 1em;}
h6 {font-size: 1em;}

.Help-iframe.glossaryPage h2 {
    font-weight: bold;
    font-size: 12px;
}

.Help-iframe p {
    margin: 0 0 1em 0;
}

.Help-iframe a {
    color: #5395D8;
    text-decoration: none;
}

.Help-iframe a span {
    text-decoration: underline;
}

.Help-iframe .Help-glossary-letters a {
    text-decoration: none;
    color: #699FC7;
}

.Help-iframe.glossaryPage .Help-glossary-letters {
    color: #CCC;
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    padding: 3px 10px;
}

.Help-iframe hr {
    border: none;
    border-top: 1px solid #CCC;
    height: 1px;
    margin: 0 0 8px;
    padding: 0;
}

.Help-iframe ul,
.Help-iframe ol {
    margin: 0 0 15px;
    padding: 0 0 0 15px;
}

.Help-iframe ul li {
    list-style-image: url(listitem.png);
    margin-bottom: 10px;
}
.Help-iframe .Help-iframe-templateArticles ul li {
    margin-bottom: 7px;
}
.Help-iframe ol li {
    margin-bottom: 10px;
}

.Help-iframe li a {
    color: #000;
    text-decoration: none;
}

.Help-iframe li a:hover {
    color: #666;
}

.Help-iframe pre {
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 10px;
    overflow: auto;
}

.Help-iframe table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

.Help-iframe th, .Help-iframe td {
    text-align: left;
    font-size: 12px;
}

.Help-iframe th {
    white-space: nowrap;
    background-color: #EEE;
    font-size: 11px;
    color: #333;
    padding: 6px;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #FFF;
}

.Help-iframe td {
    vertical-align: top;
    padding: 6px;
    border: 1px solid #EEE;
}

.Help-iframe .Help-locator-img {
    border: none;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 2px;
    display: none;
}

/* Help Search results */
.Help-iframe.searchResultsPage h3 {
    color:#24517d;
    font-size:15px;
    font-weight: normal;
    padding: 10px;
    background-color: #c4e1fd;
    border: 1px solid #9bc7f3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 0;
 }
 .Help-iframe .Help-searchResults-moreLink {
    display: inline;
}
.Help-iframe .Help-searchResults-moreLink a,
.Help-iframe .Help-searchResults-moreLink a:visited {
    display: block;
    font-weight: normal;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    border: 1px solid #bbb;
    color: #444;
    text-shadow: 0px 1px 1px #FFF;
    background-color: #dbdbdb;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#c0c0c0));
    background-image: -moz-linear-gradient(0% 0% -90deg, #f8f8f8, #c0c0c0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f8f8f8, endColorstr=#c0c0c0);
}

.Help-iframe ol.Help-searchResults-list {
    padding: 0 0 0 20px;
    margin: 10px 0;
    color: #777;
    font-size: 10px;
}
.Help-iframe .Help-searchResult {
    border-bottom: 1px dotted #DEDEDE;
    padding: 7px 0 7px 21px;
    background: transparent url(icon-article.png) 0 11px no-repeat;
}
.Help-iframe .Help-searchResult.glossary {
    background-image: url(icon-glossary.png);
}

.Help-iframe .Help-searchResult h4 {
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
}
.Help-iframe .Help-searchResult h4 a {
    color: #000;
}
.Help-iframe .Help-searchResult.glossary h4 a {
    color: #111;
    font-weight: normal;
    font-style: italic;
}

.Help-iframe .Help-searchResult h4 a:hover {
    text-decoration: underline;
}

.Help-iframe .Help-searchResult-summary {
    font-size: 12px;
    color: #888;
}

.Help-iframe .Help-searchTerm-1,
.Help-iframe .Help-searchTerm-2,
.Help-iframe .Help-searchTerm-3,
.Help-iframe .Help-searchTerm-4,
.Help-iframe .Help-searchTerm-5,
.Help-iframe .Help-searchTerm-6,
.Help-iframe .Help-searchTerm-7 {
    padding: 1px;
    -moz-border-radius: 5px;
}
.Help-iframe .Help-searchTerm-1 {
    background-color: #D4F1D0;
}

.Help-iframe .Help-searchTerm-2 {
    background-color: #D3E1F1;
}

.Help-iframe .Help-searchTerm-3 {
    background-color: #F1D5D5;
}

.Help-iframe .Help-searchTerm-4 {
    background-color: #FFF6AE;
}

.Help-iframe .Help-searchTerm-5 {
    background-color: #FBE3D1;
}

.Help-iframe .Help-searchTerm-6 {
    background-color: #EAD7EB;
}

.Help-iframe .Help-searchTerm-7 {
    background-color: #FEDAF7;
}

/* Pointer */
.Help-pointer {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.Help-pointer-hidden {
    visibility: hidden;
}

.Help-pointer-down {
    background: url(pointer_down.png) no-repeat 50%;
}

.Help-pointer-up {
    background: url(pointer_up.png) no-repeat 50%;
}

.Help-pointer-left {
    background: url(pointer_left.png) no-repeat 50%;
}

.Help-pointer-right {
    background: url(pointer_right.png) no-repeat 50%;
}

/* Systems Menu */
.Help-systemsMenu {
    position: absolute;
    left: 79px;
    background-color: #5F5F5F;
    min-width: 150px;
    margin-top: 20px;
    display: none;
}

.Help-systemsMenu.active {
    display: block;
}

.Help-systemsMenu li {
    cursor: pointer;
    line-height: 23px;
    list-style-type: none;
    padding: 2px 0;
    position: relative;
}

.Help-systemsMenu-selectedIcon {
    position: absolute;
    right: 5px;
    background: url(sys_menu_tick.png) no-repeat;
    width: 22px;
    height: 17px;
    top: 50%;
    margin-top: -8px;
    display: none;
}

.Help-systemsMenu li.selected .Help-systemsMenu-selectedIcon {
    display: block;
}

.Help-systemsMenu li:hover {
    background-image: url(sys_menu_hover.png);
}

.Help-systemsMenu a {
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 35px;
}

.Help-systemsMenu-itemIcon {
    background-repeat: no-repeat;
    background-position: 0 -22px;
    float: left;
    height: 22px;
    width: 36px;
}

.Help-systemsMenu li:hover .Help-systemsMenu-itemIcon {
    background-position: 0 0;
}

/* Override Dialog styles */
#Help-dialog .GUIDialog-subTitle {
    font-size: 15px;
    color: #000;
}

/* Search Input overrides */

#Help-search-input.GUITextBox.input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding-left: 22px;
    width: 105px;
    background: transparent url(icon-search.png) 6px 58% no-repeat;
    -webkit-box-shadow: 1px 1px 3px #ccc inset;
    -moz-box-shadow: 1px 1px 3px #ccc inset;
    border-color: #aaa #ccc #ddd;
    outline: none;
}
