.GUIInfoBox {
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
/*     border: 1px solid; */
/*     border-color: #3F71B8 #3F71B8 #113262; */
    border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: #162C63;
}

.GUIInfoBox-top {
    padding: 20px 10px 15px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3E7CCE), to(#113262));
    background-image: -moz-linear-gradient(0% 0% -90deg, #3E7CCE, #113262);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3E7CCE, endColorstr=#113262);
}

.GUIInfoBox-title {
    overflow: hidden;
    border: 1px solid;
    border-color: #275697 #275697 #265494;
    font-size: 18px;
    color: #FFF;
    padding: 8px 12px;
    border-radius: 11px;
    -moz-border-radius: 11px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3066AD), to(#113262));
    background-image: -moz-linear-gradient(0% 0% -90deg, #3066AD, #113262);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3066AD, endColorstr=#113262);
}

.GUIInfoBox-mid {
    background: url(infobox_thumb_stripes.png);
    height: 150px;
    padding: 10px;
    text-align: center;
}

.GUIInfoBox-bottom {
    padding: 10px;
}

.GUIInfoBox-title-value {
    overflow: hidden;
    text-overflow: ellipsis;
}
