.GUITabPane-top {
    list-style: none;
    border-bottom: 1px solid #CCC;
    height: 24px;
}

.GUITabPane-tab {
    display: inline;
    overflow: hidden;
}

.GUITabPane-tab.first a {
    margin-left: 15px;
}

.GUITabPane-tab a {
    text-decoration: none;
    display: block;
    float: left;
    line-height: 24px;
    outline: none;
    padding: 0 20px;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #F8F8F8), color-stop(100%, #BEBEBE));
    background-image: -moz-linear-gradient(top, #F8F8F8 15%, #BEBEBE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F8F8F8, endColorstr=#BEBEBE);
    border: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    color: #000;
    margin-right: 5px;
    border-bottom: none;
    -webkit-box-shadow: 0 -2px 3px #EDEDED;
    -moz-box-shadow: 0 -2px 3px #EDEDED;
}

.GUITabPane-tab.active a {
    background-color: #FFF;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#FFFFFF);
}

.GUITabPane-tabContent {
    display: none;
}

.GUITabPane-tabContent.active {
    display: block;
}
