.GUITabPane-top {
    list-style: none;
    border-bottom: 1px solid #CCC;
    height: 24px;
}

.GUITabPane-tab {
    display: inline;
    overflow: hidden;
}

.GUITabPane-tab.first a {
    margin-left: 15px;
}

.GUITabPane-tab a {
    text-decoration: none;
    display: block;
    float: left;
    line-height: 24px;
    outline: none;
    padding: 0 20px;
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8 15%, #BEBEBE 100%);
    border: 1px solid #CCC;
    -moz-border-radius: 5px 5px 0 0;
    color: #000;
    margin-right: 5px;
    border-bottom: none;
    -moz-box-shadow: 0 -4px 11px #DEDEDE;
}

.GUITabPane-tab.active a {
    background-color: #FFF;
    background-image: none;
    -moz-box-shadow: 0 -6px 14px #DEDEDE;
}

.GUITabPane-tabContent {
    display: none;
}

.GUITabPane-tabContent.active {
    display: block;
}
