.GUIList {
    list-style: none;
    background-color: #FFF;
    border-top: 1px dotted #AAA;
    position: relative;
}

.GUIList li {
    position: relative;
    border-bottom: 1px dotted #AAA;
    background-color: #FFF;
}

.GUIList.sortable .GUIList-itemContent {
    margin-left: 30px;
}

.GUIList.deletable .GUIList-itemContent {
    margin-right: 30px;
}

.GUIList-dragHandle {
    display: none;
    height: 18px;
    width: 22px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -9px;
    background: url(drag_move.png) no-repeat 50% 50%;
    cursor: move;
}

.GUIList.sortable .GUIList-dragHandle {
    display: block;
}

.GUIList .GUI-delete {
    display: none;
}

.GUIList.deletable .GUI-delete {
    display: block;
}

.GUIList .GUI-deleteIcon {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.GUIList .GUI-delete.deleted .GUI-deleteIcon {
    margin-top: -8px;
}


/* No Items styles */
ul.GUIList.noItems {
    display: none;
}

div.GUIList-noItemsMsg {
    display: none;
    background-color: #F8F8F8;
    color: #8B8B8B;
    font-style: italic;
    padding: 12px;
}

div.GUIList-noItemsMsg.noItems {
    display: block;
}
