table.GUITable {
    width: 100%;
}

.GUITable th, .GUITable td {
    font-family: arial;
    font-weight: normal;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
}

.GUITable th {
    background-color: #aaa;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.GUITable-firstCol {
    border-left: 1px solid #CECECE;
}

.GUITable-lastcol {
    border-right: 1px solid #CECECE;
}

.GUITable-firstCol, .GUITable th.GUITable-middlecol {
    border-right: 1px solid #FFF;
}

.GUITable td {
    border-bottom: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    line-height: 30px;
}

.GUITable.noBorders td,
.GUITable.noBorders th {
    border-right: none;
}

.GUITable.noBorders td.GUITable-firstCol,
.GUITable.noBorders th.GUITable-firstCol {
    border-left: none;
}

.GUITable.alternateRows tr.rowOdd {
    background-color: #DDD;
}

.GUITable.alternateCols td.colOdd {
    background-color: #CCC;
}

.GUITable tr.selected {
    background-color: #89F;
}

.GUITable.selectable tr {
    cursor: pointer;
}
