table.GUITable {
    width: 100%;
}

.GUITable th,
.GUITable .GUITable-colWrapper {
    padding: 4px 15px;
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
}

.GUITable .GUITable-colWrapper {
    position: relative;
}

.GUITable th {
    background-color: #AAA;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    white-space: nowrap;
}

.GUITable-firstCol {
    border-left: 1px solid #CECECE;
}

.GUITable-lastcol {
    border-right: 1px solid #CECECE;
}

.GUITable-firstCol, .GUITable th.GUITable-middlecol {
    border-right: 1px solid #FFF;
}

.GUITable td {
    border-bottom: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    line-height: 22px;
}

.GUITable.noBorders td,
.GUITable.noBorders th {
    border-right: none;
}

.GUITable.noBorders td.GUITable-firstCol,
.GUITable.noBorders th.GUITable-firstCol {
    border-left: none;
}

.GUITable.alternateRows tr.rowEven {
    background-color: #F6F6F6;
}

.GUITable.alternateCols td.colOdd {
    background-color: #F6F6F6;
}

.GUITable tr.selected {
    background-color: #89F;
}

.GUITable.selectable tr {
    cursor: pointer;
}

/* Delete button override */
.GUITable .GUI-delete {
    z-index: 1;
    margin: 0;
}

.GUITable tr.deleted .GUI-deleteIcon {
    background-position: 0 -16px;
}

.GUITable tr.loadingRow td {
    background-color: #EEE;
    vertical-align: middle;
    text-align: center;
    height: 2.5em;
}

.GUITable-colRemovedOverlay {
    display: none;
}

.GUITable tr.deleted .GUITable-colRemovedOverlay {
    background: transparent url(/__web/Systems/GUI/Web/delete_overlay.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* No Items styles */
table.GUITable.noItems {
    display: none;
}

div.GUITable-noItemsMsg {
    display: none;
    background-color: #F8F8F8;
    color: #8B8B8B;
    font-style: italic;
    padding: 12px;
}

div.GUITable-noItemsMsg.noItems {
    display: block;
}
