.GUIGraphBar {
    background-color: #FFF;
    font-family: arial;
    font-size: 12px;
    padding: 0 5px;
}

.GUIGraphBar-outer-list {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
}

.GUIGraphBar-inner-list {
    display: inline-block;
    position: absolute;
    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

ul.GUIGraphBar-data-row {
    display: inline-block;
    vertical-align: bottom;
    list-style: none;
    padding: 0;
    margin: 0;
    bottom: 0;
    position: absolute;
}

ul.GUIGraphBar-data-row ul {
    display: inline;
    vertical-align: bottom;
    list-style: none;
    padding: 0;
    margin: 0;
}

.GUIGraphBar-data-point {
    display: block;
    vertical-align: bottom;
    list-style: none;
    padding: 0;
    margin: 0 1px;
    border: 1px solid #A0A0A0;
    border-top: none;
    border-bottom: none;
    z-index: 2;
    position: relative;
    top: 0;
}

.GUIGraphBar-data-point.first-point {
    border-top: 1px solid #A0A0A0;
}

.GUIGraphBar-data-flag {
    display: block;
    list-style: none;
    padding: 0;
    margin: 2px 1px 0 1px;
    font: normal 9px 'Verdana';
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
}

.GUIGraphBar-data-label {
    display: block;
    list-style: none;
    padding: 0;
    height: 11px;
    margin: 0 1px 2px 1px;
    font: normal 9px 'Verdana';
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
}

.GUIGraphBar-data-x-axis {
    display: block;
    list-style: none;
    padding: 0;
    height: 15px;
    margin: 0 0px 2px 0px;
    font: normal 9px 'Verdana';
    line-height: 15px;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    background-color: #222;
    color: #CCC;
    border-top: 1px solid #A0A0A0;
}

.GUIGraphBar-data-x-axis-empty {
    display: block;
    list-style: none;
    padding: 0;
    height: 0px;
    margin: 0 0px 2px 0px;
    line-height: 1px;
    border-top: 1px solid #A0A0A0;
}

.GUIGraphBar .colour-black {
    background-color: #000;
    color: white;
}

.GUIGraphBar .colour-blue {
    background-color: #4480CF;
    color: white;
}

.GUIGraphBar .colour-gold {
    background-color: #EBE811;
    color: black;
}

.GUIGraphBar .colour-red {
    background-color: #C22;
    color: white;
}

.GUIGraphBar .colour-green {
    background-color: #292;
    color: white;
}

.GUIGraphBar .colour-navy {
    background-color: #103264;
    color: white;
}

.GUIGraphBar .colour-orange {
    background-color: #E09A2D;
    color: black;
}

.GUIGraphBar .colour-purple {
    background-color: #1F1F37;
    color: white;
}

.GUIGraphBar .colour-grass {
    background-color: #789312;
    color: black;
}

.GUIGraphBar .colour-grey {
    background-color: #ADADAD;
    color: black;
}

.GUIGraphBar .style-plain {
    background-image: none;
}

.GUIGraphBar .colour-gold.style-diagonal, .GUIGraphBar .colour-grey.style-diagonal {
    background-image: url(dark-diagonal.png);
}

.GUIGraphBar .colour-gold.style-reverse, .GUIGraphBar .colour-grey.style-reverse {
    background-image: url(dark-reverse-diagonal.png);
}

.GUIGraphBar .colour-gold.style-fuzz, .GUIGraphBar .colour-grey.style-fuzz {
    background-image: url(dark-fuzz.png);
}

.GUIGraphBar .style-diagonal {
    background-image: url(diagonal.png);
}

.GUIGraphBar .style-reverse {
    background-image: url(reverse-diagonal.png);
}

.GUIGraphBar .style-fuzz {
    background-image: url(fuzz.png);
}

.GUIGraphBar-data-point-alt-text {
    display: none;
}

.GUIGraphBar .tooltip {
    background-color: #FFF;
    padding: 8px;
    position: relative;
    top: -15px;
    width: 200px;
    left: -85px;
    visibility: hidden;
    z-index: 1000;
    display: block;
    white-space: normal;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-box-shadow: 0 2px 12px #666;
    -moz-box-shadow: 0 2px 12px #666;
}

.GUIGraphBar .row-bg {
    background-color: #000;
    opacity: 0.0;
    z-index: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

.GUIGraphBar .GUIGraphBar-data-row.hover .tooltip {
    visibility: visible;
}

.GUIGraphBar .GUIGraphBar-data-row.hover .row-bg {
    opacity: 0.04;
}

.GUIGraphBar .tooltip .title  {
    text-align: center;
    padding: 2px 5px;
}

.GUIGraphBar .tooltip .footer  {
    text-align: center;
    padding: 10px 5px 2px;
    font-size: 10px;
    font-style: italic;
}

.GUIGraphBar .tooltip table {
    width: 100%;
    font-size: 11px;
}

.GUIGraphBar .tooltip td.label {
    text-align: left;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.GUIGraphBar .tooltip td.data {
    text-align: right;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.GUIGraphBar .tooltip tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}
